redis.host=127.0.0.1
redis.port=6379
redis.password=

#redis.key.prefix default `empty_string`
redis.key.prefix=idc

#network.uselocal default false
network.uselocal=false

#network.prefer default `empty_string`, values: outer, inner
network.prefer=

#network.check.timeout default 1000
network.check.timeout=100

#network.check.first default true
#is check network alive when first time get
network.check.first=true

#extra ip, should config in /etc/hosts
# like: `123.234.5.6 hessoa_public_ip`, which is different in different machines
# tencent cloud and google cloud need this
#network.public.hostname=hessoa_public_ip